{% extends "base.html" %}

{% block content %}
<div class="flex flex-col gap-10">

  <div>

    <h1 class="text-3xl font-bold text-lime-600">LIMA - <b>L</b>udeed's <b>I</b>nventory <b>Ma</b>nagement</h1>

    <nav>
      <ul class="flex flex-row gap-4">
        <li><a class="text-lime-600 underline" href="/items">Items</a></li>
        <li><a class="hover:underline" href="/generate">Generate</a></li>
        <li><a class="hover:underline" href="/incoming">Incoming</a></li>
        <li><a class="hover:underline" href="/outgoing">Outgoing</a></li>
      </ul>
    </nav>

  </div>

  <table class="table-auto min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th class="text-left font-medium uppercase">Name</th>
        <th class="text-left font-medium uppercase">Description</th>
        <th class="text-left font-medium uppercase">Location</th>
        <th class="text-right font-medium uppercase">Quantity</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      {% for i in items %}
      {% if (loop.index % 2 == 0) %}
      <tr>
        {% else %}
        <tr class="bg-gray-100">
          {% endif %}
          <td class="py-2 whitespace-no-wrap">{{i.name}}</td>
          <td class="py-2 whitespace-no-wrap">{{i.description}}</td>
          <td class="py-2 whitespace-no-wrap">{{i.location}}</td>
          <td class="py-2 whitespace-no-wrap text-right">{{i.quantity}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

